customtkinter>=5.2.2,<7
Pillow>=10.0.0,<13
reportlab>=4.2.2,<6
requests>=2.32.3,<3
pyinstaller>=6.10.0,<7
faster-whisper>=1.1.0,<2
yt-dlp>=2025.1.0,<2027
keyring>=25.0.0,<26
openpyxl>=3.1.5,<4
rapidfuzz>=3.0.0,<4
